// Variables

$reg: "trade-gothic-next", sans-serif;
$cond: "trade-gothic-next-condensed", sans-serif;
$teal: #49acc5;
$blue: #14213D;
$black: #23272b;
$white: #FFF;
$offwhite: #EDE6E3;
$shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);


// Media Queries

$mobile-width: 400px;
$desktop-width: 900px;

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$mobile-width}) and (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}



// Global

html, body {
    height: 100%;
    margin: 0;
}

body,
input,
select {
	padding: 0;
	margin: 0;
}


// Colors
	
.teal {
	color: $teal;
}
	
.blue {
	color: $blue;
}
	
.black {
	color: $black;
}

.white {
	color: $white;
}


// Typography

html {
	font-size: 16px;
}

body {
	font-family: $reg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $reg;
}

h1 {
	font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}
	
p {
	color: $black;
	font-family: $reg;
	font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1em;
}
	
b,
strong {
	font-weight: 800;
}
	
em,
i {
	font-style: italic;
}


// Links

a {
	text-decoration: none;
    color: inherit;
    font-size: inherit;
}