.content {

	&--container {
        width: 100%;
	}

	&--full {
		width: 900px;
        margin: 0 auto;

        @include tablet {
            width: 600px;
        }
        
        @include mobile {
            width: 300px;
        }
	}

}

section {
	padding: 4em 0;
}