<h3 class="teal">Contact</h3>

<section class="officeLocations">

    <div>
        <p class="teal">
            Connecticut
        </p>
        <p>
            185 Plains Road<br>
            Suite 209E<br>
            Milford, CT 06461<br>
            203-876-0606
        </p>
    </div>

    <div>
        <p class="teal">
            New York
        </p>
        <p>
            805 Third Avenue<br>
            12th Floor<br>
            New York, NY 10022<br>
            646-386-2030
        </p>
    </div>

    <div>
        <p class="teal">
            Fax
        </p>
        <p>
            203-876-0768
        </p>
    </div>

</section>


<p class="footerDisclaimer">
    Licensed to practice in Connecticut, New York, New Jersey, and Florida.<br>
    Attorney Advertising &copy; {{ now.Format "2006" }} Karp & Langerman, P.C.<br>
    <a href="/disclaimer">Disclaimer</a>
</p>
